@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .btn {
    @apply border-[#1966D2] bg-[#1966D2] text-amber-50 hover:bg-transparent hover:text-black dark:border-amber-50 dark:bg-amber-50 hover:dark:text-amber-50 dark:text-black p-3 px-7 rounded cursor-pointer dark:hover:bg-transparent border-2 transition-colors duration-300;
  }
  .btn-outline {
    @apply hover:bg-[#1966D2] hover:text-amber-50 border-2 border-[#1966D2] dark:border-amber-50 p-3 px-5 rounded dark:hover:bg-amber-50 dark:hover:text-black transition-colors duration-300 cursor-pointer;
  }
}

/* 
#1A1E29
#222632
#939AA5
#14171F
#1966D2
#023E8A

*/
